{{- /* Head custom content area start */ -}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cookie&family=Roboto+Mono&display=swap">

<style>
    /* Class Styles */
    .font-roboto {
      font-family: 'Roboto', sans-serif;
    }

    .font-cookie {
      font-family: 'Cookie', cursive;
      font-size: 1.5em;
    }
</style>

<script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_a540da6ef7b09cb8562d0844bfad70&disableSessionId"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
{{- /* Head custom content area end */ -}}
