<style>
	.tab-content>.tab-pane {
		display: none;
	}

	.tab-content>.active {
		display: block;
	}

	.fade {
		transition: opacity 0.15s linear;
	}
	.fade:not(.show) {
		opacity: 0;
	  }
	  .modal.fade .modal-dialog {
		transition: -webkit-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
		transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
		-webkit-transform: translate(0, -50px);
		transform: translate(0, -50px);
	  }
	  .modal-backdrop.fade {
		opacity: 0;
	  }
	  .carousel-fade .carousel-item {
		opacity: 0;
		transition-property: opacity;
		-webkit-transform: none;
		transform: none;
	  }
	  .carousel-fade .carousel-item-next.carousel-item-left,
	  .carousel-fade .carousel-item-prev.carousel-item-right,
	  .carousel-fade .carousel-item.active {
		z-index: 1;
		opacity: 1;
	  }
	  .carousel-fade .active.carousel-item-left,
	  .carousel-fade .active.carousel-item-right {
		z-index: 0;
		opacity: 0;
		transition: opacity 0s 0.6s;
	  }
</style>

{{ $tabName := .Get "tabName" }}
{{ $tabID := delimit (shuffle (slice "a" "b" "c" "d" "e" "f")) "" }}
{{ .Parent.Scratch.Add "tabName" (slice $tabName) }}
{{ .Parent.Scratch.Add "tabID" (slice $tabID) }}

<div class="tab-pane fade show {{ if eq .Ordinal 0 }}active {{ end }}" id="{{ $tabID }}" role="tabpanel" aria-labelledby="nav-1">

	{{ $.Inner }}

</div>