<style>
	nav {
		display: block;
	}

	.nav {
		display: -ms-flexbox;
		display: ruby;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 1em;
		list-style: none;
	}

	.nav-tabs .nav-item {
		margin-bottom: 0;
	}

	.nav-tabs .nav-link {
		border: solid #e9ecef;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}

	.nav-tabs .nav-link:focus,
	.nav-tabs .nav-link:hover {
		border-color: #e9ecef #e9ecef #dee2e6;
	}

	.nav-tabs .nav-link.disabled {
		color: #6c757d;
		background-color: transparent;
		border-color: transparent;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: #495057;
		background-color: #fff;
		border-color: #dee2e6 #dee2e6 #fff;
	}

	.nav-fill .nav-item {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		text-align: center;
	}

	.nav-tabs .dropdown-menu {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.nav-justified .nav-item {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		text-align: center;
	}

	.nav-link {
		display: block;
		padding: 0.5rem 1rem;
	}

	.nav-link:focus,
	.nav-link:hover {
		text-decoration: none;
	}

	.nav-link.disabled {
		color: #6c757d;
		pointer-events: none;
		cursor: default;
	}

	.nav-tabs .nav-link {
		border: 1px solid #e9ecef;
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
	}

	.nav-tabs .nav-link:focus,
	.nav-tabs .nav-link:hover {
		border-color: #e9ecef #e9ecef #dee2e6;
	}

	.nav-tabs .nav-link.disabled {
		color: #6c757d;
		background-color: transparent;
		border-color: transparent;
	}

	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active {
		color: black;
		background-color: #F5F5F5;
		border-color: #dee2e6 #dee2e6 #fff;
	}

	.nav-pills .nav-link {
		border-radius: 0.25rem;
	}

	.nav-pills .nav-link.active,
	.nav-pills .show>.nav-link {
		color: #fff;
		background-color: #007bff;
	}

	.navbar-nav .nav-link {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-expand .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}

	.navbar-light .navbar-nav .nav-link {
		color: rgba(0, 0, 0, 0.5);
	}

	.navbar-light .navbar-nav .nav-link:focus,
	.navbar-light .navbar-nav .nav-link:hover {
		color: rgba(0, 0, 0, 0.7);
	}

	.navbar-light .navbar-nav .nav-link.disabled {
		color: rgba(0, 0, 0, 0.3);
	}

	.navbar-light .navbar-nav .active>.nav-link,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .show>.nav-link {
		color: rgba(0, 0, 0, 0.9);
	}

	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 0.5);
	}

	.navbar-dark .navbar-nav .nav-link:focus,
	.navbar-dark .navbar-nav .nav-link:hover {
		color: rgba(255, 255, 255, 0.75);
	}

	.navbar-dark .navbar-nav .nav-link.disabled {
		color: rgba(255, 255, 255, 0.25);
	}

	.navbar-dark .navbar-nav .active>.nav-link,
	.navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link.show,
	.navbar-dark .navbar-nav .show>.nav-link {
		color: #fff;
	}
</style>

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">

		{{ $tabTotal := .Get "tabTotal" }}
		{{ $tabRightAlign := .Get "tabRightAlign" }}
		{{ $tabName := .Scratch.Get "tabName" }}
		{{ $tabID := .Scratch.Get "tabID" }}

		{{ range $i, $sequence := (seq $tabTotal) }}

		<a class="nav-item nav-link {{ if eq $i 0 }} active {{ end }}{{ if in $tabRightAlign (add 1 $i) }} ml-auto {{ end }}"
		   id="nav-{{ (index $tabID $i) }}" data-toggle="tab" href="#{{ (index $tabID $i) }}"
		   role="tab" aria-controls="nav-home" aria-selected="true">{{ (replaceRE "(\\s)" " " (index $tabName $i)) }}</a>

		{{ end }}

	</div>
</nav>

<div class="tab-content" id="nav-tab-content">

	{{ .Inner }}

</div>